button {
    border-radius: 1rem;
    color: black;
    height: 50px;
    font-size: 25px;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#bd2428;
    transition: 0.35s;
    width: 600px
    height: 110px;
}
button:hover {
    letter-spacing: 0.30rem;
    background-color: #ea3136;
    width: auto;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 700px;
    color: white;
    text-align: justify;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 700px;
    color: white;
    text-align: justify;
}
